/* =======================================================
 * CHECKIN
 * ======================================================= */

#checkin {
  .checkin-label {
    margin: 0 auto;
    background-color: $belize-hole;
    border-radius: 50%;
  }

  $portraitBoxSize: 160px;
  $landscapeBoxSize: 120px;

  &.portrait .checkin-label {
    flex-basis: $portraitBoxSize;
    height: $portraitBoxSize;

    p {
      line-height: $portraitBoxSize;
    }
  }

  &.landscape .checkin-label {
    flex-basis: $landscapeBoxSize;
    height: $landscapeBoxSize;

    p {
      line-height: $landscapeBoxSize;
    }
  }
}
