# transpiled files and dependencies
/node_modules
# ignore all config except default
/config/env/*
!/config/env/default.json

# application instance specific
.build
.data
.vendors

# junk files
.DS_Store
Thumbs.db

# TLS certificates
/**/*.pem
