/* user defined */
html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #000000;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Consolas, monaco, monospace;
}

body.loading {
  background-image: url(../images/loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#__soundworks-container {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

/** emulated clients */
#__soundworks-container .emulate {
  float: left;
  width: 20%;
  min-width: 300px;
  height: 500px;
  outline: 1px solid #aaaaaa;
  position: relative;
  overflow-y: auto;
}

#__soundworks-container .init-platform {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #121212;
  opacity: 0.8;
  color: white;
  line-height: 400px;
  text-align: center;
  font-size: 4rem;
}
